.container-navbar {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 70px;      
    width: 100%;
    background-color: #111827; 
    border-bottom: 2px solid var(--accent-blue); 
    z-index: 1000;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    color: white !important;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}